.fc-event,
.fc-event:hover {
	color: white;
	padding-left: 2px;
}
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end,
.fc-event-vert.fc-event-start,
.fc-event-vert.fc-event-end {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.fc-event-vert.fc-event-start ~ .fc-event-vert.fc-event-start {
	border-top-width: 0;
}
