.hamburger_and_breadcrumb #menu-toggle {
    margin-left: 15px;
    border-color: #d9d9d9;
    float: left;
}

.hamburger_and_breadcrumb .breadcrumb {
    background-color: #fff;
    float: left;
    margin-bottom: 0;
}

.col-lg-12 {
    clear: both;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .github-corner {
    display: none
  }
}

