---
import Main from '../layouts/Main.astro';
import { EVENTS } from '../data/events.js';
import Event from "../components/Event.jsx";
---
<Main title="Events">
	<h1 class="text-lg font-semibold mb-4">Events</h1>
	{ EVENTS.map((event) => <Event event={event} />) }
</Main>
