---
import { Markdown } from 'astro/components';
import Main from '../layouts/Main.astro';
---
<Main title="Resources">
	<h1 class="text-lg font-semibold">Resources</h1>

	<div class="markdown mb-4">
		<Markdown>
			### Computer Technology Society (CTS)

			The [Computer Technology Society Newfoundland Labrador](https://ctsnl.ca/) generally
			known as CTS-NL, is a community group for people who work in or have an interest in
			software development, technology, and computing in Newfoundland and Labrador.

			Its [Slack](https://join.slack.com/t/ctsnl/shared_invite/enQtNzE5Mzc1OTA3ODI2LTdhODg1ZTQ4YTMwNDRkYzI2OWZjOTZmYWZjNjA3N2QzMTRiZWEyNmI0MTRmYjNjMDFhZGUxNzlhY2I5YjEwMTk)
			is quite active and is a great place to ask questions and get help.

			### Hackfrost NL

			[Hack Frost NL](https://hackfrostnl.ca/) is a student-led initiative at Memorial
			University of Newfoundland.
			
			Founded in 2020, Hack Frost NL organized the first ever university-wide open hackathon
			with the goal of bridging the gap between the classroom and the workplace.
		</Markdown>
	</div>
</Main>
