---
import { Markdown } from 'astro/components';
import Main from '../../layouts/Main.astro';
---
<Main title="Archives">
	<h1 class="text-lg font-semibold">Archives</h1>

	<div class="markdown mb-4">
		<Markdown>
		- [Home Page - 2001](https://www.cs.mun.ca/~csclub/archive/home_page_2001/)
		- [Home Page - 2003](https://www.cs.mun.ca/~csclub/archive/home_page_2003/)
		- [Home Page - 2005](https://www.cs.mun.ca/~csclub/archive/home_page_2005/)
		- Home Page - 2021 - _WIP_

		- [Misc. Photos and Documents](https://www.cs.mun.ca/~csclub/archive/photos_and_documents/)
		</Markdown>
	</div>
</Main>
