---
import Main from "../../layouts/Main.astro";
---

<Main title="Archives">
	<h1 class="text-lg font-semibold">Archives</h1>
	<div class="markdown mb-4">
		<ul>
			<a href="https://www.cs.mun.ca/~csclub/archive/home_page_2001/">
				<li>Home Page - 2001</li>
			</a>
			<a href="https://www.cs.mun.ca/~csclub/archive/home_page_2003/">
				<li>Home Page - 2003</li>
			</a>
			<a href="https://www.cs.mun.ca/~csclub/archive/home_page_2005/">
				<li>Home Page - 2005</li>
			</a>
			<li>
				Home Page 2021 <i>(WIP)</i>
			</li>
			<a href="https://www.cs.mun.ca/~csclub/archive/photos_and_documents/">
				<li>Misc. Photos and Documents</li>
			</a>
		</ul>
	</div>
</Main>
