---
import Main from "../../layouts/Main.astro";
import { TEACHING_EXCELLENCE_AWARDS } from "../../data/awards.js";


---

<Main title="Awards">
    <h1 class="text-lg font-semibold">Teaching Excellence Awards</h1>
    <div style="display:flex; gap:20px; padding:25px; flex-direction: column;">
    {
        TEACHING_EXCELLENCE_AWARDS.map((data)=> (
            <div style="padding:20px;">
                <h2 class="font-semibold mt-4" style="text-decoration: underline;" >{data.name}</h2>
                <p class="mt-2">{data.year}</p>
            </div>
        ))
    }
    </div>
</Main>