---
import { Markdown } from 'astro/components';
import Main from '../../layouts/Main.astro';
import { AllDocuments } from "../../components/Documents.jsx";
---
<Main title="Meeting Documents">
	<div class="markdown mb-4">
		<Markdown>
			# Meeting Documents

			All of our meeting documents are committed to GitHub in our ['Executive-Docs'](https://github.com/MUNComputerScienceSociety/Executive-Docs/) repository.

			They can also be found [hosted www.cs.mun.ca](https://www.cs.mun.ca/~csclub/executive-documents/).
		</Markdown>
	</div>

	<AllDocuments client:load />
</Main>
