---
import LeftSidebar from '../components/LeftSidebar.astro';
const { title } = Astro.props;
---
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>MUNCSS | { title }</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link
			rel="stylesheet"
			href={Astro.resolve("../styles/global.css")}
		>
	</head>
	<body class="h-full dark:bg-background-dark">
		<main class="h-full w-11/12 md:w-3/4 xl:w-7/12 2xl:w-1/2 m-auto flex flex-col md:flex-row">
			<LeftSidebar />
			<div class="py-5 px-4 w-full md:w-9/12 h-full overflow-y-visible md:overflow-y-auto">
				<slot />
			</div>
		</main>
	</body>
</html>
