---
import { Markdown } from 'astro/components';
import Main from '../../layouts/Main.astro';
---
<Main title="Fall 2021 Election">
	<div class="markdown mb-4">
		<Markdown>
			# Fall 2021 Election

			Welcome to the Fall 2021 Election for the MUN Computer Science Society!

			<br />

			We're following a somewhat similar setup to our [previous election](https://muncomputersciencesociety.github.io/election-fall-2020/),
			with keeping the majority of the interactions online for the sake of saftey and convenience; especially for people who have still not arrived into Newfoundland yet.

			## Timeline

			- **Monday September 20th** applications for candidacy open, closing on **September 27th**.
			- Campaigning for applicants starts **September 28th**, closing on **October the 3rd**.
			- Results of election presented (sometime on) **Monday October the 4th**.

			<br />
			---
			<br />

			# Applications for Candidacy (September 20th → September 27th)

			[We've put together a short Google Form which you can access here](https://forms.gle/18qnc1NXthRp1Lmq8).

			<br />
			---
			<br />

			# Campaigning for Applicants (September 28th → October 3rd)

			Candidates that make it through applications are permitted to advertise themselves and the position(s) they wish to run for.

			_More information coming soon..._

			<br />
			---
			<br />

			# Results of the Election (October 4th)

			The results of the election shall be posted.

			_More information coming soon..._
		</Markdown>
	</div>
</Main>
