---
import { Markdown } from 'astro/components';
import Main from '../../layouts/Main.astro';
---
<Main title="Info Session">
	<div class="markdown mb-4">
		<Markdown>
			# Info Session

			_Our first in-person event in too long!_

			<br />

			When: **Monday, 27th of September, 2021**

			Time: **5:30pm - 6:30pm**

			Location: **EN 2007**

			<br />

			Meet some fellow CS students in the flesh, and get to know more about the computer science society,
			and our plans for the upcoming semester.

			We're planning on (hopefully) live streaming this event for folks who cannot attend, but if you
			are able to, we would love to see you here!

			<br />

			# To RSVP for the event, please fill out [this Google form](https://forms.gle/zebNXkKshAvjnBDK9).

			<br />
		</Markdown>
	</div>
</Main>
