---
import { Markdown } from 'astro/components';
import Main from '../../layouts/Main.astro';
---
<Main title="Fall 2021 Elections">
	<div class="markdown mb-4">
		<Markdown>
			# Fall 2021 Elections
			More information coming soon...
		</Markdown>
	</div>
</Main>
