---
import { Markdown } from 'astro/components';
import Main from '../../layouts/Main.astro';
---
<Main title="Fall 2021 Clothing Order">
	<div class="markdown mb-4">
		<Markdown>
			# Fall 2021 Clothing Order

			We've partnered with [Beresford Ltd.](http://www.beresfordltd.ca/) to provide our clothing this semester,
			who have provided their own online portal for people to order directly from them!

			[https://www.unigear2u.com/muncss](https://www.unigear2u.com/muncss).
		</Markdown>
	</div>
</Main>
