---
import { Markdown } from 'astro/components';
import Main from '../../layouts/Main.astro';
import { AllDocuments } from "../../components/Documents.jsx";
---
<Main title="Fall 2021 Elections">
	<div class="markdown mb-4">
		<Markdown>
			# Fall 2021 Elections
		</Markdown>
	</div>
</Main>
